.form-title{
text-align: center;
}

.form-wrapper{
  max-width: 400px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5%;
 
}
.form-wrapper> form{
  display: flex;
  flex-direction: column;
}
form button{
align-self: center;
}

input,select{
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid grey;
}

.input-field-wrapper{
  display: flex;
  flex-direction: column;
  margin: 3px;
}
.input-error{
  border: 1px solid red;
}

.error{
  color: red;
}

.radio-options{
  display: flex;
  gap: 10px;
 
}

button{
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: aqua;
  opacity: 0.8;
}

button:hover{
  font-weight: bold;
  opacity: 1;
}

main{
  display: flex;
  justify-content: center;
}



.look-values-container{
  padding: 10px;
  max-width: 100%;
  overflow-x: scroll;
}

.look-values-container .look-title{
  font-weight: bold;
}
